.course-card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex; 
  flex-direction: column; 
  height: 100%; 
  transition: transform 0.3s ease; 
}

.course-card:hover {
    transform: translateY(-5px); 
}

.course-image {
  width: 100%;
  height: 200px; 
  object-fit: cover;
}

.course-content {
  padding: 20px;
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  color: #333; /* Teks konten card harus hitam */
}

.course-content h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.course-content p {
  font-size: 1em;
  margin-bottom: 20px;
  flex-grow: 1;
}

.course-btn-link {
    text-decoration: none;
    margin-top: auto; 
}

.course-btn {
  background-color: #4a4e69;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.course-btn:hover {
  background-color: #5750d4;
}