.footer {
  background-color: #F4F4F4;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
}

.footer-heading {
    color: black !important;
    font-size: 1.5em; 
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-links {
  margin-bottom: 10px;
  display: flex; 
  justify-content: center;
  gap: 20px; 
}

.footer-links a {
  text-decoration: none;
  color: black; 
  font-size: 16px;
  
  display: flex; 
  align-items: center; 
}

.footer-links a:hover {
  color: #1A3D64; 
}

.footer-bottom {
  font-size: 14px;
}

/* TARGETKAN PARAGRAF DI DALAM FOOTER-BOTTOM untuk memaksa warna hitam */
.footer-bottom p {
  color: black !important; 
}

.footer img {
  width: 25px; 
  margin: 0 5px 0 0; 
  vertical-align: middle; 
}