/* Global Style */
html, body, #root {
    height: 100%;
}

div {
    background-color: transparent; 
}

body {
  /* Terapkan gradasi dari atas ke bawah */
  background: linear-gradient(to bottom, #474973, #0D0C1D); 
  background-attachment: fixed;
  color: white; 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Container utama halaman */
.main-content {
    min-height: calc(100vh - 120px); 
    background-color: transparent !important;
    color: white;
    padding: 0;
    margin: 0;
}

/* Navbar (style dasar) */
.navbar {
  background-color: #474973; 
  color: white;  
  padding: 10px 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

/* Footer (style dasar) */
footer {
  background-color: #F4F4F4; 
  color: black;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
}

footer a {
  color: #1A3D64;
}

footer a:hover {
  color: #555;
}

section {
  padding: 20px;
}